---
import Angular from "../../public/assets/icons/Angular.astro";
import GitHub from "../../public/assets/icons/GitHub.astro";
import Javascript from "../../public/assets/icons/Javascript.astro";
import HTML from "../../public/assets/icons/HTML.astro";
import CSS from "../../public/assets/icons/CSS.astro";
import Python from "../../public/assets/icons/Python.astro";
import Link from "../../public/assets/icons/Link.astro";
import Php from "../../public/assets/icons/Php.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  PYTHON: {
    name: "Python",
    class: "bg-white text-black",
    icon: Python,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-white text-black",
    icon: Angular,
  },
  PHP: {
    name: "",
    class: "bg-black text-white-500",
    icon: Php,
  },
  JS: {
    name: "JavaScript",
    class: "bg-white text-black",
    icon: Javascript,
  },
  HTML: {
    name: "HTML",
    class: "bg-white text-black",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-white text-black",
    icon: CSS,
  },
};

const PROJECTS = [
{
    title: "Pricing Pro",
    description:
      "Plataforma web para la gestión de precios, gestión de usuarios por roles, gestión de permisos y analítica dinámica.",
    image: "https://jm-portfolio-brown.vercel.app/assets/img/pricing-pro.webp",
    tags: [TAGS.ANGULAR],
    year: "2025",
  },
  {
    title: "Visioner",
    description:
      "Basado en Planning Pro, para el mismo cliente pero con diferente interfaz y línea gráfica.",
    image: "https://jm-portfolio-brown.vercel.app/assets/img/visioner.webp",
    tags: [TAGS.ANGULAR],
    year: "2024",
  },
  {
    title: "Planning Pro",
    description:
      "Plataforma web para la gestión de cementos, gestión de usuarios por roles, gestión de permisos y analítica dinámica.",
    image: "https://jm-portfolio-brown.vercel.app/assets/img/planning-pro.webp",
    tags: [TAGS.ANGULAR, TAGS.PYTHON],
    year: "2022 - 2023",
  },
  {
    title: "Autenticación y Gestión",
    description:
      "He trabajado en diferentes proyectos de autenticación para la UGPP, Team Foods, además de implementar diferentes funcionalidades que permiten la gestión de archivos desde GCP",
    image: "https://jm-portfolio-brown.vercel.app/assets/img/auth-ilustration.jpeg",
    tags: [TAGS.PYTHON, TAGS.HTML, TAGS.CSS, TAGS.JS],
    year: "2022 - 2023",
  },
  {
    title: "Neuroimágenes - IPS",
    description:
      "Creado desde cero, el cual provee importante información acerca de una de las IPS más importantes del Quindío.",
    link: "https://neuroimagenes.com/inicio",
    image: "https://jm-portfolio-brown.vercel.app/assets/img/neuroimagenes.webp",
    tags: [TAGS.ANGULAR, TAGS.PHP],
    year: "2022",
  },
  {
    title: "Huellitas Solidarias",
    description:
      "Sitio web animalista con detalles acerca de la labor social y el impacto en el departamento del Quindío de este proyecto juvenil.",
    link: "https://huellitas-solidarias.vercel.app/home",
    github: "https://github.com/manueljuan123/huellitas-solidarias",
    image: "https://jm-portfolio-brown.vercel.app/assets/img/huellitas-solidarias.webp",
    tags: [TAGS.ANGULAR],
    year: "2022",
  },
];
---

<div class="flex flex-col gap-y-16" id="neuro-project">
  {
    PROJECTS.map(({ image, title, description, tags, link, github, year }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="img"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-white-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-white-700 dark:text-gray-400">
              {description} <br />
              <span class="text-amber-400">{year}</span>
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
